/*Estilos aplicados a la sección de id categorias
 y categorias-detalles de las distintas páginas*/
#categorias{
    text-align: center;
}

#categorias .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#categorias article{
    margin: 15px;
}

#categorias img{
    width: 100%;
    max-width: 280px;
}

#categorias-detalles{
    text-align: center;
}

#categorias-detalles .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#categorias-detalles article{
    margin: 15px;
}

#categorias-detalles img{
    width: 100%;
    max-width: 480px;
}

